In [1]:
lis = [1,2,2,2.2,'satya']

In [1]:
list = ['orange','apple','banana','watermelon','kiwi']
list.append('orange')
print(list)

['orange', 'apple', 'banana', 'watermelon', 'kiwi', 'orange']

In [2]:
list.insert(2,'dragonfruit')
print(list)

['orange', 'apple', 'dragonfruit', 'banana', 'watermelon', 'kiwi', 'orange']

In [4]:
list.index('watermelon')

4

In [5]:
list.count('orange')

2

In [9]:
list.reverse()
print(list)

['orange', 'apple', 'dragonfruit', 'banana', 'watermelon', 'kiwi', 'orange']

In [11]:
list.clear()
list

[]

In [31]:
num = [1,2,3,4,5,6,7,8,9]
num[1:5]

[2, 3, 4, 5]

In [13]:
num[::]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [14]:
num[::-1]

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [15]:
num[::-2]

[9, 7, 5, 3, 1]

In [25]:
# Iterating over list
num

for num in num:
    print(num)

1
2
3
4
5
6
7
8
9

In [34]:
# Iterating with index
num

for index,num in enumerate(num):
    print(index,num)

0 1
1 2
2 3
3 4
4 5
5 6
6 7
7 8
8 9

In [ ]:
### List Comprehension

#1. not using the list comprehension

lst  =[]               #this is empty list
for i in range(10):    #this is we are inserting the numbers in the list
    lst.append(i)      # this is append function will append the numbers in list
print(lst)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

#2. using list comprehension

syntax :
basic syntax - 1.[expression for item in iterable]
syntax for using condition - 2.[expression for item in iterable if condition]
syntax for nested list comprehension - 3.[expression for item1 in iterable1 for item2 in iterable2]

In [ ]:
#2. using list comprehension

num_lst =[lst for i in range(10)]
print(num_lst)

[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]]

In [38]:
# print the square of the numbers

squ_num = [li**2 for li in range(10)]
print(squ_num)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [39]:
# print the square of even numbers

ev_squ_num = [li**2 for li in range(10) if li%2==0]
print(ev_squ_num)

[0, 4, 16, 36, 64]

In [40]:
#nested list comprehension
#pair the two lists

lis1 =[1,2,3,4]
lis2 = ['a','b','c','d']

pair = [[i,j] for i in lis1 for j in lis2]
pair

[[1, 'a'],
 [1, 'b'],
 [1, 'c'],
 [1, 'd'],
 [2, 'a'],
 [2, 'b'],
 [2, 'c'],
 [2, 'd'],
 [3, 'a'],
 [3, 'b'],
 [3, 'c'],
 [3, 'd'],
 [4, 'a'],
 [4, 'b'],
 [4, 'c'],
 [4, 'd']]

In [41]:
#words
#count the length of the each word

words = ['satya','mounika','rana','dheer']

wor_len = [len(i) for i in words]
wor_len

[5, 7, 4, 5]

In [2]:
ls = [1,2,3,45,6]

print(ls[1:])
print(ls[:3])

[2, 3, 45, 6]
[1, 2, 3]