In [1]:
tup = (1,2,3,5)
print(type(tup))

<class 'tuple'>

In [ ]:
#packing an unpacking and tuple
#1.packing
tuple = 1,'satya','hello'
print(tuple)

(1, 'satya', 'hello')

In [ ]:
#2. unpacking - if you want to unpack how many values in packed tuple that values we need to assign to unpack
a,b,c = tuple
print(a)
print(b)
print(c)

1
satya
hello

In [1]:
#unpack with *
number = (1,2,3,4,5,6,7)
first,*middle,last = number
print(first)
print(*middle)
print(last)

1
2 3 4 5 6
7

In [9]:
#tuple-methods

tup
print(tup.index(3))
print(tup.count(1))

2
1

In [3]:
#nested tuple

t1= ((1,2,3,4),('saya','mou',2.33))
print(t1[0][3])

print(t1[1][1:3])  #slicing

4
('mou', 2.33)

In [ ]:
# we have the same common things used in list and tuples

In [ ]:
#nested list 
l1 = []